# dotenv environment variables file
.env
.envrc
.env.local
.env.*.local

# docker overrides
docker-compose.override.*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Vendored dependency directories
vendor/
